/* Estilos personalizados para Hotel+ */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
}

/* Estilo para el encabezado */
header {
    padding: 10px 0;
}

header h1 {
    font-size: 2.5rem;
}

/* Estilo para el botón de iniciar sesión */
header .btn-light {
    font-size: 1.2rem;
}

/* Estilo para los títulos principales */
h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem;
    margin-top: 30px;
}

/* Estilo para los formularios */
form {
    margin-bottom: 20px;
}

/* Estilo para los enlaces */
a {
    text-decoration: none;
    color: inherit;
}

/* Estilo para el pie de página */
footer {
    margin-top: 50px;
    padding: 20px 0;
    text-align: center;
}

footer .container {
    padding-bottom: 20px;
}

/* Estilo para el formulario de suscripción */
footer input[type="email"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

/* Estilo para el botón de suscripción */
footer .btn-light {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #f8f9fa;
    color: #000;
    border: 1px solid #ccc;
}

img {
    border-radius: 10px;
    max-width: 87px; /* Define el ancho deseado para todas las imágenes */
    max-height: 150px; /* Define la altura deseada para todas las imágenes */
    object-fit: cover; /* Esto asegura que las imágenes mantengan su relación de aspecto sin deformarse */
}